# Dependencias
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Producción
*.tsbuildinfo
next-env.d.ts

# Variables de entorno
.env
.env*.local
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# SO
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/dev/
